<!DOCTYPE html>
<html>
<head>
  <title>Rafters</title>
  <%= stylesheet_link_tag    "rafters/application", :media => "all" %>
  <%= javascript_include_tag "rafters/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
