<div class="main">
  <div class="content">
    <%= render_component :heading, title: "Posts" %>
    <%= render_component :posts %>
  </div>

  <div class="sidebar">
    <%= render_component :links %>
  </div>
</div>
