<div class="main">
  <div class="content">
    <%= render_component :heading, as: "heading", settings: { title: "Posts" } %>
    <%= render_component :posts, as: "posts" %>
  </div>

  <div class="sidebar">
    <%= render_component :links, as: "links" %>
  </div>
</div>
